.container{
    position: relative;
    overflow: hidden;
    padding: 10rem 2rem;

    .pattern-bottom{
        position: absolute;
        right: -50%;
        bottom: -20%;
    }

    .pattern-top{
        position: absolute;
        left: -50%;
        top: -20%;
    }
}

.card{
    max-width: 100%;
    border-radius: 1rem;
    position: relative;
    background: #fff;

    &__header{
        border-radius: 1rem 1rem 0 0;
        height: 150px;
        background-image: url(/images/bg-pattern-card.svg);
    
        &-img{
            padding-bottom: 1rem;
            
            img{
                border-radius: 50%;
                border: 5px solid #fff;
                overflow: hidden;
                margin-top: -50px;
            }
            
        }
    }

    &__body{
        text-align: center;
        border-bottom: 1px solid rgb(226, 226, 226);
        padding-bottom: 1.5rem;
        h2{
            display: inline;
        }

        h3{
            padding-top: 0.5rem;
            font-size: 1rem;
            font-weight: 400;
            color: $darkGrayisdhBlue;
        }

    }

    &__footer{
        padding: 2rem 1rem;
        ul{
            display: flex;
            text-align: center;
            
            & > *{
                font-weight: 700;
                width: 100%;
            }
            span{
                padding-top: 0.4rem;
                display: block;
                font-weight: 400;
                font-size: 0.75rem;
                letter-spacing: 1px;
            }        
        }
    }
}



@media (min-width: 30rem){
    .container{
        height: 100vh;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        .pattern-bottom{
            position: absolute;
            right: -3%;
            bottom: -50%;
        }
    
        .pattern-top{
            position: absolute;
            left: -4%;
            top: -42%;
        }
    }

    .card{
        width: 400px;
        height: max-content;
    }

}


.attribution{
    background: #fff;
    padding: 0.2rem 0;
}